.pokedex{
    display: flex;
    justify-content: space-around;
    background-color: red;
}

.image{
    width: 100px;
}

.pokePhoto{
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    width: 180px;
}

.pokeInfo{
    display: flex;
    flex-direction: column;
}

.pokeScreen{
    background-color: gray;
    color: aqua;
    width: 150px;
    
}